.FirstNav {
    padding: 0 10px;
    color: #a09a9a;
    background: #272626;
    width: 100%;
    min-height: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}

.FirstNav-left,
.FirstNav-right {
    gap: 2rem;
    padding-top: 1rem;
    display: flex;
}

.number {
    color: #dbd0d0;
    cursor: pointer;
}

.number:hover {
    color: white;
}

@media screen and (max-width:576px) {
    .FirstNav {
        display: none;
    }
}