.ContactEmail {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Contact-Input {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 100px;
    align-items: center;
}



.Contact-Input .first-inpts input,
.Contact-Input textarea {
    background: #e9e8e7;
    padding: 0.6rem;
    width: 440px;
    border: none;
}

.Contact-Input textarea {
    width: 900px;
}

@media screen and (max-width:992px) {

    .Contact-Input .first-inpts input,
    .Contact-Input textarea {

        width: 346px
    }

    .Contact-Input textarea {
        width: 708px;
    }
}

@media screen and (max-width:576px) {
    .Contact-Input textarea {
        width: 350px;
    }

    .Contact-Input .first-inpts {
        flex-direction: column;
    }
}